body{
    background-image: url("../images/prism.png");
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    /* height: 100vh; */
}

/* Try 100% viewport height */

nav{
    /* margin-bottom: 15px; */
    border-bottom: solid 1.5px #1B86C1;
}

header{
    text-align: center;
}

.dupp{
    max-width: 960px;
}

main{
    padding: 15px;
    max-width: 960px;
    background-color: #ffffff;
    /* background-color: rgb(238, 255, 255); */
    border: solid 1px #dddddd;
    margin-top: 10px;
    margin-bottom: 100px;
}

h1, h2, h3, h4{
    /* color: #4aaaab; */
    color: #2055AA;
    /* font-family: 'Georgia', Times, Times New Roman, serif; */
    font-family: 'Josefin Slab', serif;
}

a{
    color: #2055AA;
}

.header-main{
    border-bottom: solid 1px #1B86C1;
    margin-bottom: 20px;
}

#profile-pic{
    /* max-width: 200px; */
    width: 100%;
    margin-bottom: 10px;
}

.proj-box{
    margin-top: 5px;
    margin-bottom: 5px;
    /* max-width: 250px; */
}

/* .proj-pic{
    max-width: 200px;
} */

.proj-pic.card-img-top{
    height: 150px;
    object-fit: cover;
}

.proj-link{
    width: 100%;
    max-width: 200px;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: #4aaaab;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
}

#proj1{
    background-image: url("../images/proj1.jpg")
}

.btn{
    background: #1B86C1;
    border: 0 none;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #ffffff;
}

footer {
    text-align: center;
    font-size: 0.75em;
    padding-top: 10px;
    padding-bottom: 0px;
    background-color: #2b2727;
    color: #858383;
    border-top: solid 2px #1B86C1;
    position: fixed;
    bottom: 0;
    width: 100%;
}